<input id="misclabor4" value="{{ misclabor4A.misclabor4 }}">

<script>
$(document).ready(function() {
    if ($('#id_miscqty4').val() ==0)  $("#misclabor4").attr("disabled", true).css('background-color', '#e1e1e1');
    $("#misclabor4").focus();
});


$(function(){
    $('#misclabor4').blur(function(){
                var selectBox =document.getElementById('misclabor4');
                var userInput =selectBox.value;
                console.log(userInput);
                $("#misclabor4").css('background-color', 'white');
                //$("#misclabor4").css('background-color', '#66d09a').attr("disabled", false).css('color', 'black');
                $("#id_prodqueue").focus();
                var url = $(".form2").attr("misc4labor-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            misclabor4: $('#misclabor4').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
    });
});

$(function(){
    $('#misclabor4').blur(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('misclabor4');
                var userInput =selectBox.value;
                console.log(userInput);
                var url = $(".form2").attr("misctotal-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            misclabor4: $('#misclabor4').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 200);
    });
});

$(function(){
    $('#misclabor4').blur(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('misclabor4');
                var userInput =selectBox.value;
                console.log(userInput);
                var url = $(".form2").attr("jobcost-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            misclabor4: $('#misclabor4').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 400);
    });
});


$(function(){
    $('#misclabor4').blur(function(){
        setTimeout(function(){
                var selectBox =document.getElementById('misclabor4');
                var userInput =selectBox.value;
                console.log(userInput);
                var url = $(".form2").attr("id_materialcost-url");
                    $.ajax({
                        type:'POST',
                       url: url,
                       data:{
                            misclabor4: $('#misclabor4').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                         },
                    });
        }, 600);
    });
});

$(function(){
$('#misclabor4').blur(function(){
    setTimeout(function(){
            var urlC = $(".form2").attr("load_materialcost-url");
            req = $.ajax({
                   url: urlC,
                   data:{
                     },
                     success: function (data) {
                       $("#id_materialcost").html(data);
                     }
                });
        }, 800);
    });
});


</script>