<div class="disabled">
    <input id="id_disabled" value="{{ disabledA.disabled }}">
</div>

<script>
$(document).ready(function(){
    if ($('#id_disabled').val() ==0)  $("#id_qty1").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_qty1").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_qty2").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_qty2").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_qty3").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_qty3").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_qty4").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_qty4").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_qty5").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_qty5").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_qty6").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_qty6").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_lcqty1").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_lcqty1").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_lcqty2").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_lcqty2").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_lcqty3").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_lcqty3").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_lcqty4").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_lcqty4").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_lcqty5").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_lcqty5").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_lcqty6").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_lcqty6").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_footingqty").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_footingqty").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_miscqty1").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_miscqty1").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_miscqty2").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_miscqty2").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_miscqty3").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_miscqty3").attr("disabled", false)
    if ($('#id_disabled').val() ==0)  $("#id_miscqty4").attr("disabled", true)
    if ($('#id_disabled').val() ==1)  $("#id_miscqty4").attr("disabled", false)
});

</script>