<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../../../img/favicon1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/preappoint.css">
    <title>Wood Street Cabinet Bidding Program</title>
</head>
<body  style="background-image: url('../../img/black.jpg')">
<section id="workarea1">
    <a id="back" style="" href="/absdatabase/main">Close</a>
    <div class="container">
        <div class="img"><img class="img1" src='../../../img/ABS Desktop.jpg'></div>
        <div id="button">
            <div class="container2">
            <a href="/absdatabase/newcust">
                <button type="button" id="addapp" class="btn btn1">New Customer</button>
            </a>
            </div>
            <div class="container3">
                <a href="/absdatabase/cust_info_existing">
                    <button class="btn btn2" id="existing">Existing Customers</button>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
<script type="text/javascript">
</script>